:root {
  --background-color: #eaeaea;
  --contrast-color: #fceed5;
  --accent-color: #103559;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

.container {
  padding: 0 16px;
  width: 100%;
}

.dogs-container__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dogs-container__filter {
  display: flex;
  padding: 7px 10px;
  gap: 8px;
}

.dogs-container__filter-button {
  width: 24px;
}

.dogs-container__filter-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.dogs-container__dogs-header {
  margin-bottom: 16px;
}

.dogs-container__dogs-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--accent-color);
  padding-right: 15px;
}

.dogs-container__dogs-count {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}

.dogs-container__dogs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.dogs-container__dogs-list_example {
  background-color: #fff;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 56px;
}

.dogs-container__dogs-list_img {
  width: 100%;
  border-radius: 10px;
}

.dogs-container__dogs-list_name {
  margin: 0 0 4px 0;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 24px;
}

.dogs-container__dogs-list_details {
  padding: 4px;
}

.dogs-container__dogs-list_1stline,
.dogs-container__dogs-list_2ndline {
  display: flex;
  gap: 4px;
}

.dogs-container__dogs-list_dot {
  display: none;
}

.dogs-container__dogs-list_feature,
.dogs-container__dogs-list_desc {
  font-size: 12px;
  color: #667479;
  line-height: 18px;
  margin: 4px 0 0 0;
}

.dogs-container__dogs-list_desc {
  font-weight: 700;
}

.dogs-container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 74px;
}

.dogs-container__pagination_left {
  background-image: url(./assets/arrow_left.png);
}

.dogs-container__pagination_right {
  background-image: url(./assets/arrow_right.png);
}

.dogs-container__pagination_left,
.dogs-container__pagination_right {
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.dogs-container__pagination_page {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 13px 4px;
  background-color: transparent;
  border: none;
}

.dogs-container__pagination_page:hover,
.dogs-container__pagination_page:active {
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 8px;
}
