:root {
  --background-color: #eaeaea;
  --contrast-color: #fceed5;
  --accent-color: #103559;
  --main-blue-color: #003459;
  --white-color: #fff;
  --grey-color: #667479;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

@media all and (max-width: 1179px) {
  .position {
    touch-action: none;
  }
}

.container {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.header_navigation {
  margin-top: 47px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger_open {
  width: 18.67px;
  height: 13.33px;
}

.logo {
  height: 32px;
}

.basket_container {
  position: relative;
  cursor: pointer;
}

.basket {
  height: 16.67px;
}

.basket_quantity {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--main-blue-color);
  position: absolute;
  top: -11px;
  left: 13px;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
}

.navigation {
  display: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.navigation_heading {
  color: var(--main-blue-color);
  text-transform: uppercase;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
}

.navigation_links {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation_links__item {
  margin-bottom: 20px;
}

.navigation_links__item :hover {
  text-decoration: underline;
}

.navigation_links__element {
  text-decoration: none;
  color: var(--main-blue-color);
  font-size: 18px;
}

.button_container {
  display: flex;
  justify-content: center;
}

.navigation_button {
  background-color: var(--main-blue-color);
  font-family: "Lato", sans-serif;
  border-radius: 57px;
  color: var(--white-color);
  border: none;
  width: 197px;
  height: 44px;
  font-size: 16px;
  margin-top: 20px;
}

.hamburger_close {
  position: absolute;
  font-size: 45px;
  color: var(--main-blue-color);
  top: 34px;
  left: 13px;
}

.shop {
  display: none;
  overflow: auto;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 40px;
  box-sizing: border-box;
}

.visible {
  display: inline;
}

.shop_heading {
  color: var(--main-blue-color);
  text-transform: uppercase;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 26px;
}

.shop_item {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  background-color: var(--white-color);
  margin-bottom: 25px;
  position: relative;
}

.shop_img {
  width: 35%;
}

.shop_img__desc {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}

.shop_img_name {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  color: var(--main-blue-color);
}

.shop_img_gender {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
  margin-top: 8px;
}

.shop_img_size {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
}

.delete {
  border: none;
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  right: 6px;
}

.gg-trash {
  color: var(--accent-color);
}

.close-button {
  position: absolute;
  font-size: 45px;
  color: var(--main-blue-color);
  top: 34px;
  right: 13px;
  cursor: pointer;
}

.hero {
  background-color: var(--contrast-color);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 26px;
}

.hero_description {
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
}

.hero_description__heading-first {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
  line-height: 60px;
  color: var(--accent-color);
  margin-top: 32px;
  margin-bottom: 0;
}

.hero_description__heading-second {
  font-size: 26px;
  line-height: 38px;
  color: var(--accent-color);
  margin: 0;
}

.hero_description__paragraph {
  font-size: 12px;
  line-height: 18px;
  color: var(--accent-color);
  margin-top: 12px;
  margin-bottom: 32px;
}

.puppies {
  width: 105%;
  position: relative;
  left: -2.5%;
  display: block;
}

.rectangle {
  position: absolute;
  left: -160px;
  top: 330px;
}

.hero_button__container {
  display: flex;
  justify-content: flex-end;
}

.hero_button {
  background: var(--accent-color);
  border-radius: 57px;
  border: none;
  color: var(--white-color);
  padding: 10px 28px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
}

.footer {
  background-color: var(--contrast-color);
  padding-top: 40px;
}

.registration {
  background-color: var(--main-blue-color);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
}

.registration_heading {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  color: var(--white-color);
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: var(--white-color);
  border-radius: 14px;
  margin-top: 16px;
}

.footer_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
}

.footer_links__element {
  text-decoration: none;
  color: var(--main-blue-color);
  font-size: 16px;
  line-height: 24px;
}

.footer_links :hover {
  text-decoration: underline;
}

.form_item__input {
  padding: 14px 28px;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  font-family: "Lato";
  font-size: 14px;
  line-height: 20px;
}

.form_item__button {
  padding: 14px 28px 10px 28px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-blue-color);
  color: var(--white-color);
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
}

.footer_media {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.footer_media__element {
  width: 20px;
  height: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--grey-color);
  margin-top: 40px;
}

.footer_information {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_logo {
  height: 40px;
}

.terms {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.terms_desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
  margin: 0;
}

.terms_desc:first-child {
  margin-right: 15px;
}

.rights {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: var(--grey-color);
}

.menu {
  display: none;
}

.menu_button {
  display: none;
}

@media all and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1180px;
    padding: 0;
  }

  .hamburger_open {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-logo {
    height: 40px;
    margin-right: 48px;
  }

  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    margin: 30px 0;
  }

  .menu_links__item :hover {
    text-decoration: underline;
  }

  .menu_links__element {
    text-decoration: none;
    color: var(--main-blue-color);
    font-size: 16px;
    font-weight: 700;
    margin-right: 48px;
  }

  .menu_controls {
    display: flex;
  }

  .menu_button {
    display: inline;
    background-color: var(--main-blue-color);
    font-family: "Lato", sans-serif;
    border-radius: 57px;
    color: var(--white-color);
    border: none;
    width: 197px;
    height: 44px;
    font-size: 16px;
    margin-right: 35px;
    cursor: pointer;
  }

  .basket_container {
    margin-top: 16px;
  }

  .shop {
    width: 28%;
    top: 100px;
    left: 63%;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
  }

  .shop_heading {
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .shop_close {
    top: -3px;
    right: 16px;
    width: 20px;
  }
}

.dogs-container__controls {
  align-items: center;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

.dogs-container__filter {
  display: flex;
  padding: 7px 10px;
  gap: 8px;
  justify-content: flex-end;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  width: 30%;
  justify-self: end;
}

.dogs-container__filter-button {
  width: 24px;
}

.dogs-container__filter-options {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: var(--background-color);
  padding: 40px;
  display: none;
}

.filter-close {
  top: -8px;
  right: 25px;
}

.filtering_open {
  display: flex;
  flex-direction: column;
}

.dogs-container__filter-options_size {
  border-top: 2px solid #ebeeef;
  border-bottom: 2px solid #ebeeef;
  margin: 16px 0px;
  padding: 16px 0;
}

.dogs-container__filter-options_type {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

.dogs-container__filter-options_checkbox {
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.checkbox {
  width: 0;
  height: 0;
  position: relative;
}

.checkbox::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.checkbox:checked::after {
  background-color: var(--accent-color);
}

.checkbox + label {
  margin-left: 20px;
}

.dogs-container__filter-options_line {
  width: 100%;
  margin: 16px 0;
  border: 1px solid #ebeeef;
}

.dogs-container__filter-options_line-dark {
  display: none;
}

.dogs-container__filter-options_name {
  background-color: #fff;
  padding: 14px 15px;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  width: 100%;
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 34px;
}

.dogs-container__filter-options_button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 50px;
  border: 1.5px solid var(--accent-color);
  border-radius: 57px;
  width: 136px;
  background-color: transparent;
  color: var(--accent-color);
}

.dogs-container__filter-options_button:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.dogs-container__dogs-header {
  margin-bottom: 16px;
  margin: 25px 0 16px 0;
}

.dogs-container__dogs-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--accent-color);
  padding-right: 15px;
}

.dogs-container__dogs-count {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}

.dogs-container__sorting {
  grid-row: 1 / 2;
}

.dogs-container__sorting-button {
  border: 1px solid #667479;
  border-radius: 20px;
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px 4px 20px;
  background-color: transparent;
}

.dogs-container__sorting-button_icon {
  width: 24px;
}

.dogs-container__sorting-options {
  width: 150px;
  position: absolute;
  padding: 20px;
  background-color: var(--background-color);
  border: 1px solid #667479;
  border-radius: 20px;
  top: 36px;
  display: none;
}

.sorting_open {
  display: block;
}

.dogs-container__sorting-options > li {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
  text-align: center;
}

.dogs-container__sorting-options > li:hover {
  background-color: #ccd1d2;
  border-radius: 5px;
}

.dogs-container__sorting-options > li:last-of-type {
  margin-top: 10px;
}

.dogs-container__dogs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.dogs-container__dogs-list_example {
  background-color: #fff;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 56px;
}

.dogs-container__dogs-list_img {
  width: 100%;
  border-radius: 10px;
}

.dogs-container__dogs-list_name {
  margin: 0 0 4px 0;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 24px;
}

.dogs-container__dogs-list_details {
  padding: 4px;
}

.dogs-container__dogs-list_1stline,
.dogs-container__dogs-list_2ndline {
  display: flex;
  gap: 4px;
}

.dogs-container__dogs-list_dot {
  display: none;
}

.dogs-container__dogs-list_feature,
.dogs-container__dogs-list_desc {
  font-size: 12px;
  color: #667479;
  line-height: 18px;
  margin: 4px 0 0 0;
}

.dogs-container__dogs-list_desc {
  font-weight: 700;
}

.dogs-container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 74px;
}

.dogs-container__pagination_left {
  background-image: url(./assets/arrow_left.png);
}

.dogs-container__pagination_right {
  background-image: url(./assets/arrow_right.png);
}

.dogs-container__pagination_left,
.dogs-container__pagination_right {
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.dogs-container__pagination_page {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 13px 4px;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
}

.dogs-container__pagination_page:hover,
.dogs-container__pagination_page:active {
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 8px;
}

.dogs-container__pagination_right:hover,
.dogs-container__pagination_left:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20%;
}
/* Desktop */
@media all and (min-width: 1180px) {
  .container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
  }
  .dogs-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    margin-bottom: 50px;
  }
  .dogs-container__controls {
    display: block;
    margin: 0;
    position: sticky;
    top: 0;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 85px;
  }
  .dogs-container__filter {
    padding: 0;
    margin-bottom: 15px;
    pointer-events: none;
  }
  .dogs-container__filter {
    font-size: 24px;
    line-height: 36px;
  }
  .dogs-container__filter-button {
    display: none;
  }
  .filter-close {
    display: none;
  }
  .dogs-container__filter-options {
    display: flex;
    flex-direction: column;
    position: initial;
    border: none;
    padding: 0;
  }
  .dogs-container__filter-options_name {
    width: 172px;
  }
  .dogs-container__filter-options_checkbox {
    margin-bottom: 8px;
  }
  .dogs-container__filter-options_line {
    margin: 8px 0 16px 0;
  }
  .dogs-container__filter-options_line-dark {
    display: block;
    border: 1px solid var(--accent-color);
    margin: 35px 0 35px 0;
    width: 100%;
  }
  .dogs-container__dogs-header {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
  .dogs-container__sorting {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .dogs-container__sorting-options.sorting_open {
    top: unset;
  }
  .dogs-container__dogs-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    column-gap: 20px;
    row-gap: 50px;
    grid-auto-rows: max-content;
  }
  .dogs-container__dogs-list_example {
    margin: 0;
    padding: 8px;
  }
  .dogs-container__dogs-list_details {
    padding: 0 0 12px 0;
  }
  .dogs-container__dogs-list_gender-size {
    display: flex;
  }
  .dogs-container__dogs-list_dot {
    display: inline;
    font-size: 18px;
    line-height: 18px;
    color: #667479;
    margin: 0 10px;
    position: relative;
    bottom: 2px;
  }
  .dogs-container__pagination {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-content: flex-end;
    margin: 50px 0 0 0;
  }
}
