:root {
  --background-color: #eaeaea;
  --contrast-color: #fceed5;
  --accent-color: #103559;
  --main-blue-color: #003459;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

.container {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.header_navigation {
  margin-top: 47px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger_open {
  width: 18.67px;
  height: 13.33px;
}

.logo {
  width: 92px;
  height: 32px;
}

.basket_container {
  position: relative;
}

.basket {
  width: 18.72px;
  height: 16.67px;
}

.basket_quantity {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #003459;
  position: absolute;
  top: -11px;
  left: 13px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
}

.navigation {
  display: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: -100px;
  z-index: 1;
}

.navigation_heading {
  color: var(--main-blue-color);
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
}

.navigation_links {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation_links__item {
  margin-bottom: 20px;
}

.navigation_links__element {
  text-decoration: none;
  color: var(--main-blue-color);
  font-size: 18px;
}

.button_container {
  display: flex;
  justify-content: center;
}

.navigation_button {
  background-color: var(--main-blue-color);
  border-radius: 8px;
  color: #fdfdfd;
  border: none;
  width: 225px;
  height: 47px;
  font-size: 16px;
  margin-top: 20px;
}

.hamburger_close {
  position: absolute;
  font-size: 45px;
  color: var(--main-blue-color);
  top: -7px;
  left: 8px;
}

.visible {
  display: inline;
}

.shop {
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: -114px;
  z-index: 1;
  padding: 0 40px;
}

.shop_heading {
  color: var(--main-blue-color);
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 26px;
}

.shop_item {
  display: flex;
  border-radius: 10px;
  border: 1px solid #667479;
  background-color: #fff;
  margin-bottom: 25px;
}

.shop_img {
  width: 35%;
}

.shop_img__desc {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}

.shop_img_name {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--main-blue-color);
}

.shop_img_gender {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #667479;
  margin-top: 8px;
}

.shop_img_size {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #667479;
}

.gg-trash {
  position: relative;
  top: 14px;
  left: 155px;
}

.shop_close {
  position: absolute;
  font-size: 45px;
  color: var(--main-blue-color);
  top: -7px;
  left: 8px;
}

.hero {
  background-color: var(--contrast-color);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.hero_description {
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
}

.hero_description__heading-first {
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 60px;
  color: #002a48;
  margin-top: 32px;
  margin-bottom: 0;
}

.hero_description__heading-second {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #002a48;
  margin: 0;
}

.hero_description__paragraph {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242b33;
  margin-top: 12px;
  margin-bottom: 32px;
}

.puppies {
  width: 105%;
  position: relative;
  left: -2.5%;
  display: block;
}

.rectangle {
  position: absolute;
  left: -160px;
  top: 330px;
}

.hero_button__container {
  display: flex;
  justify-content: flex-end;
}

.hero_button {
  background: #003459;
  border-radius: 57px;
  border: none;
  color: #fdfdfd;
  padding: 10px 28px 10px 28px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  background-color: var(--contrast-color);
  padding-top: 40px;
}

.registration {
  background-color: var(--main-blue-color);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
}

.registration_heading {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #fdfdfd;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fff;
  border-radius: 14px;
  margin-top: 16px;
}

.footer_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.footer_links__element {
  text-decoration: none;
  color: #00171f;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.form_item__input {
  padding: 14px 28px 14px 28px;
  border-radius: 8px;
  border: 1px solid #99a2a5;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.form_item__button {
  padding: 14px 28px 10px 28px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-blue-color);
  color: #fdfdfd;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer_media {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.footer_media__element {
  width: 20px;
  height: 20px;
}

.line {
  width: 99%;
  height: 1px;
  background-color: #ccd1d2;
  margin-top: 40px;
}

.footer_information {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_logo {
  width: 115px;
  height: 40px;
}

.terms {
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin-top: 32px;
}

.terms_desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
  margin: 0;
}

.rights {
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #667479;
}
